.WeatherForecast-temperature-max {
  text-align: right;
  padding-right: 3px;
}

.WeatherForecast-temperature-min {
  opacity: 0.7;
}

.col-lg {
  padding: 2px 0px 0px 10px;
  text-align: center;
}

.row-day {
  display: block;
  margin: 0 auto;
  width: 375px;
}

.row-box {
  border: 1.5px solid #333344;
  padding-left: 10px;
}
